{
      "arrowParens": "avoid",
      "jsxSingleQuote": true,
      "printWidth": 145,
      "singleQuote": true,
      "sortAttributes": true,
      "tabWidth": 4,
      "trailingComma": "all",
      "useTabs": false,
      "wrapAttributes": "force-aligned"
}